<h2>Icarus</h2>

<h3>About</h3>

<p>Icarus is a mosquito wing classification manager.<p>

<p>It consists of a database, where information about samples, algorithms and classifications are stored.</p>

<p>Public results can be browsed freely, while samples submitted privately are only accessible to the submitter and to the administrators of the site.</p>

<p>We are currently under construction.</p>

<h3>Navigation</h3>

<p><a href="/login">Login</a></p>

<p><a href="/db">Browse our database</a>.</p>

<p><a href="/submit">Submit samples.</a></p>

<p><a href="/execute">Classify samples.</a></p>
